extends layout

block content
  h1= title
  p 
    | The tech sector in Jacksonville, Fl is healthy and a growing community.
    | Use this web site to find technology and programming user group meetings in the Jacksonville, Fl. 
    | This site was built using Node.js, Express.js, the meetup.com api and Windows Azure.
    | This site was built by  
    a(href='http://www.fekke.com') David Fekke
    