extends layout

block content
  mixin link(href, name)
    a(href=href)= name
  
  script(async='async', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  ins.adsbygoogle(style='display: inline-block; width: 728px; height: 90px;', data-ad-client='ca-pub-3395496145928180', data-ad-slot='5814993232')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
  h1 Jax Upcoming Tech Events
  p Here are upcoming events for people in the Jacksonville, Florida area interested in learning more about computer programming
    | and computer languages and frameworks. Find your favorite developer and programming user groups on this site.
    | Use this page to find programming and technology user group meetings.
  br
  each date in Object.keys(eventArray)
    h2= date
    each meeting in eventArray[date]
      div.panel.panel-default
        div.panel-heading
          h3= meeting.group.name
          +link(meeting.event_url, meeting.name) 
        div.panel-body
          = meeting.time.format('dddd, MMMM Do YYYY, h:mmA')
          -if (meeting.venue && meeting.venue.name)
            div.well.well-lg= meeting.venue.name
              br
              -if (meeting.venue && meeting.venue.address_1)
                = meeting.venue.address_1
                br
              -if (meeting.venue && meeting.venue.city)
                = meeting.venue.city
              -if (meeting.venue && meeting.venue.state)
                = ' ' + meeting.venue.state
              -if (meeting.venue && meeting.venue.zip)
                = ' ' + meeting.venue.zip
          -if (meeting.description)
            != meeting.description

block append scripts
  script.
    $(".panel-default img").addClass("img-responsive").removeAttr('style');
