extends layout

block content  
  script(async='async', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
  ins.adsbygoogle(style='display: inline-block; width: 728px; height: 90px;', data-ad-client='ca-pub-3395496145928180', data-ad-slot='5814993232')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
  h1 Jax Tech Meetups is no more!
  p I created this site five years ago as a resource for the Jacksonville, Fl developer community to find local meetups. 
    | I used Meetup.com's APIs to get all of the meetups in this area. As of August 15th, Meetup.com has turned off their older APIs.
    | They are now requiring that you purchase a "Pro membership" to access their APIs. This makes it economically infeasable to continue to run this site.
    | Even though I feel that it was shortsighted to make this change to their APIs, it is their company and their data.
  p It has been a pleasure to offer this website to the Jacksonville developer community for the last five years.
  p Thank you for using this site.
  p David Fekke